@page {
  size: a4 portrait;
  margin-top: 5.3mm;
  margin-right: 9.7mm;
  margin-bottom: 10.3mm;
  margin-left: 9.5mm;
}

/* --- General Styles */
body {
    font-family: "Verdana", "Liberation Sans", "Sans Serif";
}

/* --- Font Sizes */
h1 {
    font-size: 12pt;
}

.cv-heading {
    font-size: 10pt;
    font-weight: bold;
}

.cv-item-name, .cv-item-value, .cv-language-item {
    font-size: 9pt;
}

/* --- Alignment, Padding, Width(s)... */
.cv-item-name, .cv-heading {
    text-align: right;
    vertical-align: top;
    padding-right: 2mm;
    width: 50mm;
    border-right: 1pt solid black;
}
.cv-heading {
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.cv-item-value {
    text-align: left;
    padding-left: 2mm;
    width: 140mm;
}

.cv-language-item {
    text-align: left;
    padding-left: 2mm;
    width: auto; /* FIXME - 5 of these elements must span exactly like 1 element of class cv-item-value */
}

table {
    page-break-inside: avoid;
    margin-top: 18pt;
    width: 190mm;
}

td {
}

