@page {
  size: a4 portrait;
  margin-top: 5.3mm;
  margin-right: 9.7mm;
  margin-bottom: 10.3mm;
  margin-left: 9.5mm;
}

/* --- General Styles */
body {
    font-family: "Verdana", "Liberation Sans", "Sans Serif";
}

h1 {
    font-size: 12pt;
}

/* --- Font Sizes */
.cv-heading {
    font-size: 10pt;
    font-weight: bold;
}

.cv-item-name, .cv-item-value {
    font-size: 9pt;
}

/* --- Alignment, Padding, Width(s)...  */
.cv-heading {
    text-align: right;
    padding-top: 5mm;
    padding-bottom: 2mm;
    padding-right: 2mm;
    width: 50mm;
}

.cv-item-name {
    text-align: right;
}

.cv-item-name {
    padding-right: 2mm;
    width: 50mm;
}

.cv-item-value {
    text-align: left;
    padding-left: 2mm;
    width: 140mm;
}

table {
    width: 190mm;
    border: 1px solid blue;  /* TODO remove borders once finished */
}

td {
    border: 1px solid green;  /* TODO remove borders once finished */
}

.vert_line_1st_page {
  height: 259mm;
  border-left: 0.4mm solid gray;
  position: absolute;
  left: 54mm;
}
