@page {
  size: a4 portrait; /* 210mm × 297mm */
  margin-top: 5.3mm;
  margin-right: 10mm;
  margin-bottom: 10.3mm;
  margin-left: 10mm;
}

/* --- General Styles */
body {
    font-family: "Verdana", "Liberation Sans", "Sans Serif";
}

/* --- Font Sizes */
h1 {
    font-size: 12pt;
}

.cv-heading {
    font-size: 10pt;
    font-weight: bold;
}

.cv-item-name, .cv-item-value, .cv-language-item {
    font-size: 9pt;
}

/* --- Alignment, Padding, Width(s)... */
table {
    page-break-inside: avoid;
    margin-top: 6mm;
    margin-right:   0pt;
    margin-bottom:  0pt;
    margin-left:    0pt;
    border: 0mm;
    padding: 0pt;
    width: 190mm;
}

td {
    margin-top:     8pt;
    margin-right:   0pt;
    margin-bottom:  0pt;
    margin-left:    0pt;
    border: 0mm;
    padding: 0mm;
}

.cv-item-name, .cv-heading {
    margin: 0mm;
    border-right: 0.1mm solid black;
    border-left: 0mm;
    padding-right: 2mm;
    padding-left: 0mm;
    width: 47.9mm;
    text-align: right;
    vertical-align: top;
}

.cv-heading {
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.cv-item-value {
    margin: 0mm;
    border: 0mm;
    padding-left: 2mm;
    width: 138mm;
    text-align: left;
}

.cv-language-item {
    border: 0mm;
    padding-left: 2mm;
    padding-right: 2mm;
    width: 23.6mm;
    text-align: left;
}
